.container {
  background-color: #f5f5f5;
  .van-tabs__line {
    background-color: #0ccd79;
  }
  .order-list-wrap {
    .order-list {
      .order-item {
        background-color: #fff;
        padding: 30rpx;
        &:nth-child(n + 2) {
          margin-top: 15rpx;
        }
        .title {
          margin-bottom: 20rpx;
          justify-content: space-between;
          font-size: 22rpx;
          color: #999999;
          .red {
            font-size: 28rpx;
            color: #fe2448;
            opacity: 0.97;
          }
          .success {
            color: #67c23a;
          }
        }
        .info {
          padding-bottom: 20rpx;
          .goods-list {
            .goods-item {
              align-items: stretch;
              margin-bottom: 20rpx;
              .good-img {
                width: 150rpx;
                height: 150rpx;
                background-color: #ffffff;
                margin-right: 10rpx;
              }
              .right-info {
                flex-grow: 1;
                justify-content: space-between;
                align-items: flex-start;
                // border: 1px solid red;
                font-size: 26rpx;
                .name {
                  width: 500rpx;
                }
                .spec {
                  color: #888888;
                }
                .price {
                  width: 100%;
                  justify-content: space-between;
                  .number {
                    color: #999999;
                  }
                }
              }
            }
          }
          .more-btn {
            justify-content: center;
            border-top: 1px solid #eeeeee;
            image {
              width: 14rpx;
              padding: 0 10rpx;
            }
          }
          .total {
            justify-content: space-between;
            .left {
              font-size: 24rpx;
              color: #999999;
            }
            .right {
              font-size: 28rpx;
              color: #333;
              font-weight: bolder;
              .word {
                font-weight: normal;
                color: #666;
              }
            }
          }

          .refund {
            font-size: 22rpx;
            color: #f88094;
            text-align: right;
            margin-top: 3rpx;
          }
        }
        .operation {
          justify-content: flex-end;
          .base-style {
            margin-left: 10rpx;
            font-size: 24rpx;
            line-height: 24rpx;
            // border: solid 1rpx #999999;
            // background: #fff;
            // color: #999999;
            padding: 10rpx 20rpx;
            border-radius: 26.99rpx;
            box-shadow: none;
          }
          .red {
            border: solid 1rpx #fe2448;
            color: #fe2448;
          }
          .success {
            border: solid 1rpx #67c23a;
            color: #67c23a;
          }
          .primary {
            border: solid 1rpx #409eff;
            color: #409eff;
          }
        }
      }
    }
  }


  .refundDialog {
    width: 70vw;
    padding: 20rpx 50rpx 50rpx;
    font-size: 26rpx;
  }
  .refundDialog .title{
    text-align: center;
    font-size: 30rpx;
    margin-bottom: 30rpx;
  }
  .refundDialog .list-item{
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
    padding: 15rpx;
    margin-bottom: 10rpx;
  }
  .refundDialog .van-cell {
    border-bottom: 1px solid #f2f2f2;
  }
  .refundDialog .van-cell{
    padding:  15rpx;
  }
  .refundDialog .van-field__page {
    /* margin-top: 10rpx; */
    border-bottom: 1px solid #f2f2f2;
  }
  .refundDialog .van-field__label {
    font-size: 26rpx;
  }
  
  .refundDialog .btn {
    width: 156rpx;
    height: 55rpx;
    border-radius: 26.99rpx;
    text-align: center;
    line-height: 55rpx;
    background: #0ccd79;
    color: #fff;
    font-size: 24rpx;
    margin: 30rpx auto 0;
  }
}
