/* pages/confirmOrder/confirmOrder.wxss */
.container {
  background-color: #f5f5f5;
  .confirm-order {
    padding-bottom: 130rpx;
    .icon-img {
      flex-shrink: 0;
    }
    .sendway-wrap {
      margin: 20rpx 30rpx;
      padding: 20rpx 15rpx;
      background-color: #fff;
      border-radius: 17rpx;
      van-radio-group {
        display: flex;
        van-radio {
          margin: 0 20rpx;
        }
      }
    }
    .address-wrap {
      margin: 20rpx 30rpx;
      .address {
        // border: 1px solid red;
        background-color: #fff;
        border-radius: 17rpx;
        padding: 20rpx 15rpx;
        justify-content: space-between;
        .left {
          width: 95%;
          .text {
            align-items: flex-start;
          }
          image {
            width: 30rpx;
            height: 30rpx;
            margin-right: 40rpx;
          }
        }
      }
    }
    .time-wrap {
      margin: 20rpx 30rpx;
      .time {
        background-color: #fff;
        border-radius: 17rpx;
        padding: 20rpx 15rpx;
        justify-content: space-between;
        .left {
          .text {
            align-items: flex-start;
          }
          image {
            width: 30rpx;
            height: 30rpx;
            margin-right: 40rpx;
          }
        }
      }
    }
    .select-wrap {
      padding: 10rpx;
      .title-wrap {
        text-align: center;
        padding: 20rpx 0;
        font-size: 30rpx;
        line-height: 40rpx;
        justify-content: space-between;
        .close {
          justify-content: flex-end;
          padding-right: 15rpx;
        }
        > view {
          width: 33.33%;
        }
      }
    }
    .goods-wrap {
      .goods-list {
        .goods-item {
          background-color: #fff;
          padding: 15rpx;
          border-radius: 15rpx;
          margin-bottom: 20rpx;
          .shop-name{
            font-size: 30rpx;
            padding-bottom: 20rpx;
            border-bottom: 1px solid #eee;
            margin-bottom: 20rpx;
          }
          .item-content {
            align-items: stretch;
            margin-bottom: 20rpx;
            .good-img {
              flex-shrink: 0;
              margin-right: 15rpx;
              width: 100rpx;
              height: 100rpx;
              border-radius: 18.12rpx;
            }
            .right-info {
              flex-grow: 1;
              justify-content: space-between;
              align-items: stretch;
              .title {
                font-size: 28rpx;
                font-weight: bolder;
              }
              .omit-1 {
                width: 500rpx;
              }
              .tag {
                font-size: 24rpx;
                // margin-bottom: 25rpx;
                text {
                  margin-right: 5rpx;
                  color: #666666;
                }
              }
              .sale-info {
                margin-bottom: 15rpx;
                background-color: #fee7e8;
                border-radius: 15.5rpx;
                padding: 5rpx 10rpx;
                font-size: 20rpx;
                color: #603b41;
                image {
                  width: 17rpx;
                  height: 21rpx;
                  margin-right: 10rpx;
                }
              }
              .timer {
                margin-bottom: 15rpx;
                .end-text {
                  margin-right: 10rpx;
                }
                .item-wrap {
                  color: #fb1438;
                  .item {
                    display: inline-block;
                    width: 30rpx;
                    margin: 0rpx 5rpx;
                    color: #fb1438;
                    font-size: 20rpx;
                    text-align: center;
                    background-color: #fee7e8;
                    border-radius: 4rpx;
                  }
                }
              }
              .price-wrap {
                margin-bottom: 15rpx;
                justify-content: space-between;
                align-items: center;
                .price-fragment {
                  padding: 20rpx 0;
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;
                  .fragment-item {
                    display: flex;
                    align-items: center;
                    margin-left: 20rpx;
                    image {
                      width: 33rpx;
                      height: 34rpx;
                      margin-right: 5rpx;
                    }
                  }
                }
                .price {
                  text-align: right;
                  font-size: 28rpx;
                  color: #fb1438;
                  .right {
                    margin-left: 20rpx;
                    text-decoration: line-through;
                    color: #666666;
                  }
                  .symbol {
                    font-size: 24rpx;
                  }
                  .number {
                    color: #666666;
                  }
                }
              }
            }
          }
          .other-user {
            justify-content: space-between;
            font-size: 24rpx;
            color: #111;
            .img-list {
              margin-right: 15rpx;
              .img-item {
                image {
                  display: block;
                  width: 36rpx;
                  height: 36rpx;
                  border-radius: 50%;
                  margin: 0 8rpx;
                }
              }
            }
            .right-text {
              // border-left: 1px solid #999999;
              // padding-left: 15rpx;
            }
          }
          .final-price{
            justify-content: space-between;
          }
        }
      }
    }
    .leave-msg {
      padding: 10rpx 0;
    }
    .pay-wrap {
      background: white;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
      border-radius: 10px;
      .pay-item {
        padding: 15rpx;
        justify-content: space-between;
        .left {
          image {
            width: 30rpx;
            height: 30rpx;
            margin-right: 15rpx;
          }
        }
      }
    }
    .btm-btn {
      background-color: #fff;
      padding: 30rpx;
      justify-content: flex-end;
      position: fixed;
      bottom: 0;
      box-sizing: border-box;
      width: 100%;
      .text {
        margin-right: 20rpx;
      }
    }
  }
}
